@tailwind base;
@tailwind components;
@tailwind utilities;

.navigation-contain {
    text-align: center;
    height: 100%;

    li {
        a {
            display: block;
            line-height: 1;
            position: relative;
            z-index: 1;
            text-align: center;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(to right,
                    #fff,
                    #fff 50%,
                    #fff 50%);
            background-size: 200% 100%;
            background-position: -100%;
            transition: all 0.3s ease-in-out;

            &:before {
                display: block;
                content: '';
                width: 0;
                height: 3px;
                bottom: 5px;
                left: 0;
                bottom: -3px;
                z-index: 0;
                position: absolute;
                background: #fff;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                background-position: 0%;

                &:before {
                    width: 100%;
                }
            }
        }
    }
}

.fill-screen {
    height: calc(100vh - 114px);
}

.fill-annotator {
    height: calc(100vh - 202px);
}

#image-update {
    display: none;
}